<section class="container">
  <header>
    <h1 class="center-align">Happy Comments</h1>
  </header>
  <main>
    <section>
      <app-add-comment
        (commentAddedEvent)="addComment($event)"
      ></app-add-comment>
    </section>
    <section *ngIf="comments" class="container">
      <div *ngFor="let comment of comments; index as i">
        <app-comment
          [comment]="comment"
          [index]="i"
          (commentDeletedEvent)="removeComment($event)"
        ></app-comment>
      </div>
    </section>
  </main>
</section>
